@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

* {
    font-family: Open Sans, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: #fff;
}

h1 {
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    letter-spacing: .1em;
    font-size: 45px;
    max-width: 1000px;
    margin-bottom: 40px;
    color: #fff;
}

input {
    color: rgba(0, 0, 0, .87);
    width: 100%;
    min-width: 800px;
    height: 60px;
    font-size: 20px;
    padding-left: 20px;
}



/* 

APP

*/

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.flex-col {
    flex-direction: column;
}

.navbar {
    height: 326px;
    padding: 40px 15px;
    background-color: grey;
    display: flex;
    align-items: center;
    position: relative;
}

.flex__content--wrapper {
    align-items: center;
    flex-direction: column;
    margin-top: -20px;
    z-index: 2;
}  

.logo {
    transition: all .15s ease;
}

.navbar .logo {
    display: flex;
    height: 40px;
    width: 150px;
}

.navbar .links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 430px;
}

.navbar .link {
    position: relative;
}

.link {
    filter: brightness(0) invert(1);
}
.content__wrapper {
    align-items: center;
    flex-direction: column;
    margin-top: -20px;
    z-index: 2;
}

.input__wrapper {
    width: 100%;
    max-width: 600px;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
}


.search__wrapper {
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10000;
    padding: 0 20px 0 8px;
    color: #6030b1;
    font-size: 32px;
    transition: all .2s ease;
}

.overlay {
    background-image: url(assets/movie-img.webp);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

/* 

SEARCH RESULTS

*/

#search__results {
    position: relative;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
}

.md-progress-bar.md-indeterminate .md-progress-bar-track, .md-progress-bar.md-query .md-progress-bar-track {
    left: -150%;
    animation: b 2s linear infinite;
}

.md-progress-bar-buffer, .md-progress-bar-buffer:after, .md-progress-bar-fill, .md-progress-bar-fill:after, .md-progress-bar-track, .md-progress-bar-track:after {
    width: 100%;
    height: 100%;
    position: absolute;
    will-change: transform;
}

.md-progress-bar-buffer, .md-progress-bar-fill, .md-progress-bar-track {
    transform-origin: top left;
}

#filter {
    padding: 0 20px;
}